*{
    margin: 0px;
    font-family: 'Inter';
}

#titulo{
    background-color: #303030;
    color: white;
}

#titulo>h1{
    padding-top: 206px;
    margin-left: 62px;

    font-weight: 600;
    font-size: 60px;
}

#titulo>p{
    padding-bottom: 149px;
    margin-left: 62px;
    font-weight: 500;
    font-size: 20px;
}

#dados{
    background-color: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 96px 64px 66px 171px;
}

.dado>h2{
    font-size: 40px;
    font-weight: 600;    
}

.dado>p{
    font-size: 20px;
    font-weight: 400;
}

#texto{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    align-items: center;
    padding-bottom: 92px;
}

#texto>div{
    margin: 0px 0px 0px 77px;
}

#descricao>h2{
    font-size: 40px;
    font-weight: 500;
}

#descricao>p{
    font-size: 24px;
    font-weight: 300;
}

#texto>img{
    margin-top: 82px;
    margin-left: 64px;
}

#coleta{
    background-color: #303030;
    text-align: center;
    padding-top: 87px;
}

#coleta>h3{
    color: white;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 17px;
}

input{
    margin: 31px;
    width: 508px;
    height: 72px;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 20px;
    border: 0px;
}

button{
    margin: 57px 0px 87px 0px;
    width: 286px;
    height: 74px;

    background-color: #C07212; 
    border-radius: 10px;
    border: 0px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;

    color: white;

    cursor: pointer;
}

button:hover{
    background-color: #e88d1e; 
    transform: translateY(-7px);
    box-shadow: 0px 5px 10px black;
}